<form method="post">
    {% csrf_token %}
    <input type="text" name="restaurant_name">
    <input type="submit">
</form>

{% for restaurant in restaurants %}
    <div>
        <div>{{ restaurant.id }}</div>
        <div>{{ restaurant.restaurant_name }}</div>
        <div>{{ restaurant.restaurant_address }}</div>
        <div>{{ restaurant.restaurant_cuisines }}</div>
        <form action="delete_restaurant" method="post">
            {% csrf_token %}
            <input type="submit" name="restaurant.id" value={{ restaurant.id }}>
        </form>
    </div>
{% endfor %}